@*@model IEnumerable<StorefrontLab.Data.EF.Manufacturer>*@
@model PagedList.IPagedList<StorefrontLab.Data.EF.Manufacturer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Your Favorite Brands!";
}

<h2>Brands</h2>
<div id="productHeaderLeft">


    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
</div>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

    @if (Model.Count == 0)
    {
        <p class="alert alert-warning">
            No results meet your criteria
        </p>
    }

    <div id="mainContentViews">
        @foreach (var item in Model)
        {

            <img src="~/Content/images/@item.Logo" alt="Manufacturer Logo" title="@item.ManufacturerName" />
            @Html.ActionLink(item.ManufacturerName, "Details", new { id = item.ManufacturerID })

            if (User.IsInRole("Admin"))
            {

            @Html.ActionLink("Edit", "Edit", new { id = item.ManufacturerID }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.ManufacturerID })
        }
        }
    </div>