@model StorefrontLab.Data.EF.Product

<!--set up as a partial view which means that it doesn't use the shared layout page. partial views are used as part of one or more views. 
        using it here as a popup/dialog box for publisher details-->

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryStatus.InventoryStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryStatus.InventoryStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.ManufacturerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>

    </dl>
</div>

@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
